@use "../utils/mixins" as mix;
.card{
  padding: 1rem
}
.card__country {
  @include mix.flex_center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.219);
  
  
  &__name {
    font-size: 2rem;
    font-weight: 500;
  }

  .card__info {
    @include mix.flex_center;


    .card__temperature {
      font-size: 5rem;
      font-weight: 100;
    }

    .card__icon {
      width: 8rem;
    }

  }

  .card__description {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .handle-temp{
    cursor: pointer;
  }

}

.card__container{
  @include mix.flex_center;
  gap: 2rem;
}