@use "../utils/mixins" as mix;

.card__search {
  @include mix.flex_center;
  flex-direction: column;
  gap: 1rem;
  width: 520px;
  height: 380px;
  border-radius: 10px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.377);

  

  .form__weather {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    .form__input{
      width: 20rem;
      height: 2rem;
      border-radius: 10px;
      padding-left:1rem ;
      font-weight: 600;
      transition: transform .1s ease-in-out ;
    }
    .form__input:hover{
      transform: scale(1.02);
    }
    .form__btn{
      width: 4rem;
      height: 2rem;
      border-radius: 10px;
      cursor: pointer;
      transition: transform .1s ease-in-out ;
    }
    .form__btn:hover{
      transform: scale(1.05);
    }
  }
}
